<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>赞助插件</title>
    <style type="text/css">
      .content {
        width: 100%;
        min-width: 520px;
        padding: 32px;
      }
    </style>
  </head>

  <body>
    <div class="content">
      <div class="shang_box" style="display: block">
        <div class="shang_payselect">
          <h1 id="buy-me-a-coffee">赞助LeekFund</h1>
          <p class="pay_explain">开源不易，感谢支持！</p>
          <br />
          <h2 id="投资学习交流圈">投资学习交流圈</h2>
          <p>加入知识星球也算赞助支持：</p>
          <img width="420" src="images/zsxq.jpg" />
          <h2 id="微信">微信</h2>
          <img width="200" src="images/wechat.jpg" />
          <h2 id="支付宝">支付宝</h2>
          <img width="200" src="images/alipay.jpg" />
          <h2 id="paypal">PayPal</h2>
          <p>
            Donate money by
            <a href="https://www.paypal.me/giscafer/">paypal</a> to my account
            <a href="https://www.paypal.me/giscafer/">giscafer@outlook.com</a>
          </p>
        </div>
        <br />
        <br />
        <div class="shang_tit">
          <p>谢谢老板，祝老板发财!</p>
        </div>
      </div>
    </div>
    <script type="text/javascript"></script>
  </body>
</html>
