<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>主力资金流向</title>
    <link
      href="https://cdn.bootcdn.net/ajax/libs/element-ui/2.9.2/theme-chalk/index.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div style="overflow-x: auto; min-width: 800px">
      <button
        id="refreshBtn"
        class="el-button el-button--primary el-button--mini"
        style="position: fixed; right: 10px; top: 20px"
      >
        刷新
      </button>
      <iframe
        id="iframeEl"
        src="https://emdatah5.eastmoney.com/dc/zjlx/index"
        frameborder="0"
        style="width: 100%; height: 900px"
      ></iframe>
    </div>
    <script>
      document.querySelector('#refreshBtn').onclick = function (e) {
        e.preventDefault();
        iframeEl.src = '';
        iframeEl.src = 'https://emdatah5.eastmoney.com/dc/zjlx/index';
      };
    </script>
  </body>
</html>
