out
node_modules
.vscode-test/
*.vsix
*.zip
yarn.lock
package-lock.json
demo/donate.html
demo/api.html

.DS_Store

template/leek-center/build
template-packages/leek-center/.eslintcache
!template-packages/leek-center/yarn.lock