.vscode/**
.vscode-test/**
.github/**
out/**
src/**
template-packages/**
node_modules/**
demo/**
screenshot/**
.gitignore
.editorconfig
.prettierrc
commitlint.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
index.md
document.md
development.md
ai.md
CODE_OF_CONDUCT.md
CNAME
CHANGELOG.md
yarn.lock
package-lock.json
*.vsix