.vscode/**
.vscode-test/**
out/test/**
src/**
template-packages/**
demo/**
screenshot/
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
screenshot/**
index.md
document.md
development.md