html,
body {
  background: #282c34;
  color: #abb2bf;
  /* padding: 20px; */
  font-size: 14px;
  padding: 0;
  margin: 0;
  height: 100%;
}
.el-col {
  background: #282c34;
  height: 100%;
  padding: 10px;
  padding-right: 8px;
  border-right: 2px solid #3e4451;
  border-top: 2px solid #3e4451;
  position: relative;
}
.el-container {
  height: 100%;
}
.el-header {
  padding-left: 10px;
  /* margin-bottom: 8px; */
  border-bottom: 5px solid #3e4451;
}
.el-main {
  padding: 0;
  flex: 1;
}
.stocks {
  list-style: none;
  padding: 0;
  margin: 0;
}
.stocks .division {
  line-height: 2;
  border-bottom: 1px solid #3e4451;
  text-align: center;
}
.stock-item {
  padding: 5px 10px;
  cursor: pointer;
  display: flex;
}
.stock-item:hover {
  background: #333842;
  color: #fff;
}
.stock-item .label {
  width: 10em;
  margin-right: 10px;
}
.stock-item .price {
  text-align: right;
  width: 5em;
  margin-right: 10px;
}
.stock-item .count {
  text-align: right;
  width: 4em;
  color: #808a9e;
}
.stock-item .count.has {
  color: #abb2bf;
}

.stock-item:first-child {
  color: #808a9e;
  cursor: auto;
}
.stock-item:first-child:hover {
  background: #282c34;
}
.main {
  line-height: 1.2;
  padding: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.main__hd {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  /* justify-content: space-between; */
}
.main__bd {
  background: #3e4451;
  flex: 1;
}
.info {
  font-size: 120%;
  line-height: 1.6;
  margin-right: 40px;
}
.stock-num {
  font-size: 70%;
}
.remind {
  padding: 4px 6px;
  border: 1px solid #d6dae0;
  border-radius: 2px;
  display: block;
}
.remind-input {
  outline: 0;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  width: 5em;
  color: #fff;
}
h3 {
  margin: 0 0 12px;
}
.d-input {
  height: 32px;
  line-height: 32px;
  /* width: 100%; */
  /* display: block; */
  position: relative;
  display: flex;
  margin: 6px 0;
  margin-right: 20px;
}
.d-input .label {
  /* flex: 1; */
  /* display: block; */
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 16px 0 8px;
}
.d-input .unit {
  height: 100%;
  padding: 0 8px;
  position: absolute;
  right: 0;
}
.d-input input {
  /* text-align: right; */
  z-index: 1;
  outline: 0;
  margin: 0;
  background: none;
  height: 32px;
  line-height: 34px;
  padding-top: 1px;
  /* line-height: 40px; */
  color: #fff;
  display: block;

  width: 100%;
  height: 100%;
  border: 1px solid #d6dae0;
  border-radius: 2px;
  box-sizing: border-box;

  padding: 2px 2em 0 7em;
  caret-color: #2483ff;
}
.d-input input:focus {
  border-color: #2483ff;
}
.d-input .remove {
  position: absolute;
  right: -20px;
  height: 100%;
  font-size: 18px;
  cursor: pointer;
}
.d-input .remove:hover {
  color: #e06c75;
}
.reminds-box {
  width: 200%;
  overflow: hidden;
  display: flex;
  transition: transform 0.3s ease;
  min-height: 320px;
}
.reminds-box_add {
  transform: translateX(-50%);
}
.reminds-box > div {
  width: 50%;
  height: 200px;
}

/*iframe*/
/* 
#showMobilePreview {
  z-index: 9999;
  width: 391px;
  height: 768px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  text-align: center;
}

.mobile_preview_header {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 387px;
  background: #eeeff2;
  text-align: center;
  line-height: 40px;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}

.mobile_preview_header_icon {
  display: inline-block;
  width: 65px;
  height: 10px;
  background: #c8c9cc;
  border-radius: 9px;
  vertical-align: middle;
  margin-top: 18px;
}

.mobile_preview_frame {
  width: 375px;
  min-height: 294px;
  height: 667px;
  max-height: calc(100vh - 166px);
  top: 40px;
  left: 0;
  border: 6px solid #eeeff2;
  position: relative;
  background-color: #fff;
  display: block;
}

#YuFrameMobilePreview {
  border: none;
  width: 375px;
  height: 100%;
}

.mobile_preview_footer {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 52px;
  width: 387px;
  background: #eeeff2;
  text-align: center;
  line-height: 45px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
}

.mobile_preview_footer_icon {
  display: inline-block;
  width: 43px;
  height: 43px;
  background: #c8c9cc;
  border-radius: 50%;
  vertical-align: middle;
} */
